@import "@fontsource-variable/geist";
@import "tailwindcss";
@source "../../../modules/";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@theme {
  --font-sans: "Geist Variable", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #f6f6f6;
  --color-base-300: #e7e7e7;
  --color-base-content: #1c1c1c;
  --color-primary: #f15a24;
  --color-primary-content: #ffffff;
  --color-secondary: #1c1c1c;
  --color-secondary-content: #ffffff;
  --color-accent: #ff8a4c;
  --color-accent-content: #1c1c1c;
  --color-neutral: #2a2a2a;
  --color-neutral-content: #ffffff;
  --color-info: #2563eb;
  --color-info-content: #ffffff;
  --color-success: #16a34a;
  --color-success-content: #ffffff;
  --color-warning: #f59e0b;
  --color-warning-content: #1c1c1c;
  --color-error: #dc2626;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  * {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }

  *:hover {
    scrollbar-color: color-mix(
        in oklch,
        var(--color-base-content) 30%,
        transparent
      )
      transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 9999px;
    transition: background-color 0.15s ease-out;
  }

  :hover::-webkit-scrollbar-thumb {
    background-color: color-mix(
      in oklch,
      var(--color-base-content) 30%,
      transparent
    );
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(
      in oklch,
      var(--color-base-content) 50%,
      transparent
    );
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #111111;
  --color-base-200: #1c1c1c;
  --color-base-300: #2a2a2a;
  --color-base-content: #f6f6f6;
  --color-primary: #f15a24;
  --color-primary-content: #ffffff;
  --color-secondary: #1c1c1c;
  --color-secondary-content: #ffffff;
  --color-accent: #ff8a4c;
  --color-accent-content: #1c1c1c;
  --color-neutral: #f6f6f6;
  --color-neutral-content: #1c1c1c;
  --color-info: #60a5fa;
  --color-info-content: #111111;
  --color-success: #22c55e;
  --color-success-content: #111111;
  --color-warning: #fbbf24;
  --color-warning-content: #111111;
  --color-error: #f87171;
  --color-error-content: #111111;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
