@import "@fontsource-variable/dm-sans";
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

@theme {
  --font-sans: "DM Sans Variable", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.001 260);
  --color-base-300: oklch(93% 0.003 260);
  --color-base-content: oklch(21% 0.02 265);
  --color-primary: oklch(52% 0.1 250);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.02 260);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(57% 0.08 250);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(20% 0.02 265);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.1 240);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(60% 0.15 155);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.16 90);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(60% 0.18 25);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(17% 0.015 265);
  --color-base-200: oklch(22% 0.018 265);
  --color-base-300: oklch(27% 0.02 265);
  --color-base-content: oklch(90% 0.003 260);
  --color-primary: oklch(60% 0.1 250);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(62% 0.015 260);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(62% 0.08 250);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(90% 0.003 260);
  --color-neutral-content: oklch(17% 0.015 265);
  --color-info: oklch(62% 0.1 240);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(65% 0.15 155);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(82% 0.16 90);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(65% 0.18 25);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
