name: PR Tasks

on:
  pull_request:
    types: [opened, edited]

jobs:
  task-check:
    name: Task Completed Check
    runs-on: ubuntu-latest

    steps:
      - uses: kentaro-m/task-completed-checker-action@v0.1.2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
